@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

@import "tailwindcss";


@layer base {
    :root {
      --background: 34 38% 68%;
      --foreground: 0 0% 100%;
  
      --card: 34 38% 58%;
      --card-foreground: 0 0% 100%;
  
      --popover: 34 38% 68%;
      --popover-foreground: 0 0% 100%;
  
      --primary: 34 38% 78%;
      --primary-foreground: 0 0% 100%;
  
      --secondary: 34 38% 88%;
      --secondary-foreground: 0 0% 100%;
  
      --muted: 34 38% 48%;
      --muted-foreground: 0 0% 100%;
  
      --accent: 34 38% 58%;
      --accent-foreground: 0 0% 100%;
  
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 100%;
  
      --border: 34 38% 58%;
      --input: 34 38% 58%;
      --ring: 34 38% 78%;
  
      --radius: 0.5rem;
    }
  }
  
  
  @theme{
    --font-playfair: "Playfair Display", serif;
  }

  .glass-effect {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    /* border: 1px solid rgba(255, 255, 255, 0.2); */
    border-radius: 0.5rem;
  }